{% extends 'base.html.twig' %}

{% block title %}N3WEB
{% endblock %}

{% block body %}
<section class="body-admin">
	<header class="container bg-light menu-top-admin w-80">
		<div class="d-flex justify-content-around">
			<div>
				<a href="https://n3web.fr">N3WEB le site</a>
			</div>
			<div>
				<a href="">Mail équipe</a>
			</div>
			<div>
				<a href="">Mail Bienvenue</a>
			</div>
			<div>
				<a href="{{ path('app_agence_index')}}">L'équipe</a>
			</div>
			<div>
				<a href="">Collaborateur</a>
			</div>
		</div>
	</header>
	{% if app.user %}
			{% for role in app.user.roles %}
				{% if app.user and role == 'ROLE_CLIENT' %}
				{% include "/partials/_home-client.html.twig" %}
			{% elseif app.user and role == 'ROLE_ADMIN' %}
			{% include "/partials/_home-admin.html.twig" %}
				{% endif %}
			{% endfor %}
		{% endif %}
	

</section>
{% endblock %}
