{# <nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Réalisations</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Nos Prestations
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" href="#">Créations de sites Web</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Hebergement</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Référencement</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Community Management</a>
						</li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">A Propos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Recrutement</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Contact</a>
				</li>
				<li class="nav-item">
					<a class="nav-link">Se Connecter</a>
					 <li><hr class="dropdown-divider"></li> 
				</li>
			</ul>
		</div>
	</div>
</nav> #}

<nav id="menu-site" class="container-fluid">
<div class="lien-menu"><a href="#">Accueil</a></div>
<div class="submenu"><div class="lien-menu"></div></div>
<div class="lien-menu"><a href="#">Réalisations</a></div>
<div class="lien-menu"><a href="#">A Propos</a></div>
<div class="lien-menu"><a href="#">Recrutement</a></div>
<div class="lien-menu"><a href="#">Contact</a></div>
</nav>
