{% extends 'base.html.twig' %}

{% block title %}Nouveau Message pour le service Community Management
{% endblock %}

{% block body %}

	{{ include('message_cm/_form.html.twig') }}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<button class="btn btn-info">
					<a class="text-white" href="{{ path('app_message_cm_index') }}">Mes messages déjà envoyé</a>
				</button>
			</div>
		</div>
	</div>
{% endblock %}
