{% extends 'base.html.twig' %}

{% block title %}Nouveau Message{% endblock %}

{% block body %}

    {{ include('message_cm/_form.html.twig') }}
    <a class="btn btn-info mt-5" href="{{ path('app_account_index') }}">Mes messages déjà envoyé</a>
{% endblock %}
